<div class="container">
    <div class="card" *ngFor="let i of childData">
      <div class="imgBx">
        <img src="../../assets/img_avatar.png" />
      </div>
      <div class="content">
        <div class="details">
          <h2>{{ "Post ID: "+ i.postId }}</h2>
          <h2>{{ "ID: "+ i.id }}</h2>
          <h5>{{ "Name: "+ i.name }}</h5>
          <!-- <span>{{ i.id }}</span -->
          <!-- ><br /> -->
          <!-- <span class="example-flex-container">{{ i.body }}</span
          ><br /> -->
          <span class="example-flex-container">{{ i.email }}</span>
        </div>
      </div>
    </div>
  </div>
  